db.sqlite3
/books_content/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.env

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd

# Env / virtualenv
env/
venv/
.venv/

# Static / media
/staticfiles/
media/

# OS files
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp


# OK
*/migrations/__pycache__/