services:
  bibliotech_ascitech_bk:
    build: .
    container_name: bibliotech_ascitech_bk
    volumes:
      - /home/projects/bibbliotech/backend/books_content/:/app/books_content
      - static_data:/app/staticfiles
    expose:
      - 8000
    restart: always
    networks:
      - dokploy-network
    labels:
      - "traefik.enable=true"
      # Router API
      - "traefik.http.routers.bibliotech_ascitech_bk.rule=Host(`api.bibliotech.cd`) && PathPrefix(`/api`)"
      - "traefik.http.routers.bibliotech_ascitech_bk.entrypoints=websecure"
      - "traefik.http.routers.bibliotech_ascitech_bk.tls=true"
      - "traefik.http.routers.bibliotech_ascitech_bk.tls.certresolver=letsencrypt"
      - "traefik.http.routers.bibliotech_ascitech_bk.priority=100"
      - "traefik.http.services.bibliotech_ascitech_bk.loadbalancer.server.port=8000"
      
      # Admin
      - "traefik.http.routers.bibliotech_admin.rule=Host(`bibliotech.cd`) && PathPrefix(`/admin`)"
      - "traefik.http.routers.bibliotech_admin.entrypoints=websecure"
      - "traefik.http.routers.bibliotech_admin.tls=true"
      - "traefik.http.routers.bibliotech_admin.tls.certresolver=letsencrypt"
      - "traefik.http.routers.bibliotech_admin.priority=200"
      - "traefik.http.services.bibliotech_admin.loadbalancer.server.port=8000"

      # Static (WhiteNoise)
      - "traefik.http.routers.bibliotech_static.rule=Host(`bibliotech.cd`) && PathPrefix(`/static`)"
      - "traefik.http.routers.bibliotech_static.priority=300"
      - "traefik.http.services.bibliotech_static.loadbalancer.server.port=8000"

volumes:
  static_data:

networks:
  dokploy-network:
    external: true
